*{padding:0; margin:0;}
img {display:block;}

@font-face {
  font-family:'yg-jalnan';
  src:local("Jalnan");
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

body {
  position: relative;
  background-image: url(../assets/main/main.png);
  background-repeat:no-repeat;                                                      
  max-height: 100vh;
  background-size: cover;
}
 
.logo_main {
    width: 185px;
    display: block;
    object-fit: contain;
    margin-top: 40px;
    margin-left: 150px;
  }

h1 {
    margin-left: 150px;
    margin-top: 155px;
    margin-bottom: 15px;
    font-family: yg-jalnan;
    font-size: 64px;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #b0b0ef;
  }

h2{
    margin-left: 150px;
    font-family: Noto Sans Kr;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
  }

#go_button {
    display: inline-block;
    width: 188px;
    height: 47px;
    outline: none;
    border: none;
    margin-left: 150px;
    margin-top: 80px;
	  background: url(../assets/main/button.png);
    background-repeat:no-repeat;   
    background-size: cover;                                                   
    cursor: pointer;
}

#go_button:hover{
	  background: url(../assets/main/hover_button.png);
    background-repeat:no-repeat;   
    background-size: cover;                                                   
 
}