/*samarkant css*/

/*reset*/
*{padding:0; margin:0;}
img {display:block;}
ul{list-style:none;}
/*font(여기어때 잘난체)*/
@font-face {
    font-family:'yg-jalnan';
    src:local("Jalnan");
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}


/*header*/
header {
	width:100%;
	height:140px;
	position:fixed;
	z-index:999;
}

header h1 {padding-top:20px;}
header h1 img {
  width:90px;
  height:60.3px;
  margin:auto;
}
#exit_button {
	width:40px;
	height:40px;
	position:absolute;
	right:40px;
	top:20px;
	outline:none;
	border:none;
	background:url(../assets/icon/exit.png);
	background-repeat:no-repeat;
	background-size:40px;
	cursor:pointer;
}
header #country {
	font-family:yg-jalnan;
	font-size:23px;
	letter-spacing:0.6px;
	text-align:center;
	padding-top:9px;
	padding-bottom:25px;
}

/*사이 여백*/
#content0 {
	width:100%;
	height:140px;
}

/*content1 : restaurant name, open time, address*/
#content1 {
	display:flex;
	max-width:100%;
	height:100%;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family: Noto Sans KR;
	font-size:20px;
	font-weight:normal;
	color:#707070;
}
#content1 #title {
	width:1000px;
	text-align:center;
}
    /*레스토랑 이름*/
#content1 h2 {
	display:inline-block;
	font-size:60px;
	font-weight:bold;
	margin-top:15px;
	margin-left:100px;
}
	/*티켓 버튼*/
#ticket_button {
	display:inline-block;
	margin-left:5px;
	width:80px;
	height:50px;
	outline:none;
	border:none;
	background:url(../assets/icon/ticket_button1.png);
	background-repeat:no-repeat;
	background-size:80px;
  	cursor: pointer;
}
#ticket_button:hover {
	background:url(../assets/icon/ticket_button2.png);
	background-repeat:no-repeat;
	background-size:80px;
}
	/*영업시간, 주소부분 margin값*/
#content1 p {
	margin-top:5px;
	margin-bottom:10px;
}
#content1 p strong {
	font-weight:500;
}
	/*주소 toggle*/
details > summary {
    text-align:center;
    outline: 0;
    cursor: pointer;
}
details > summary strong{
    font-weight:500;
}
details[open] > summary ~ * {
    animation: reveal 0.5s;
}
@keyframes reveal {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
	/*구글 지도 길찾기*/
details > p {
    padding-top:20px;
    font-size:26.25px;
    font-weight:bold;
    text-align:center;
    color:#68b5f8;
}
#map {
  width:600px;
  height:300px;
  border:0;
  display:block;
  padding-bottom:50px;
}


/*content2 : restaurant description*/
#content2 {
	width:100%;
	height:80px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding-top:5px;
	padding-bottom:9px;
}
	/*레스토랑 상세 설명*/
#content2 p {
	width:1200px;
	font-family:Noto Sans KR;
	font-weight:300;
	font-size:20px;
	line-height:1.4;
	color:#707070;
}

/*content3 : menu image*/
#content3 {
	width:100%;
	height:213.75px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#content3 ul {display:flex;}
#content3 li {position:relative; margin-left:100px;}
#content3 li:first-child {margin-left:0;}
#content3 img {width:225px; height:180px;}

/*content4 : menu description*/
#content4 {
	width:100%;
	height:168px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#content4 ul{display:flex;}
	/*메뉴 설명 박스*/
#content4 li  {
	padding-top:8px;
	text-align:center;
	width:255px;
	height:123.75px;
	border:solid 2px #ececec;
	border-radius:20px;
	margin-left:67px;
}
#content4 li:first-child{margin-left:0;}
	/*메뉴 이름*/
#content4 li h3 {
	display:block;
	font-family:Noto Sans KR;
	font-size:22px;
	font-weight:600;
	color:#616161;
}
	/*메뉴 상세설명*/
#content4 li h4 {
	display:block;
	margin-top:3px;
	font-family:Noto Sans KR;
	font-size:16px;
	font-weight:300;
	color:#616161;
}
	/*메뉴 가격*/
#content4 li h5 {
	display:block;
	margin-top:3px;
	font-family:Noto Sans KR;
	font-size:20px;
	font-weight:normal;
	color:#616161;
}

/*content5 : expression*/
#content5 {
	width:100%;
	height:105px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding-bottom:43px;
}
#content5 p {
	width:1000px;
	font-family:Noto Sans KR;
	font-weight:normal;
	font-size:26.25px;
	color:#707070;
}

/*ticket : hidden, auto scroll*/
#ticket {
	width:100%;
	height:520px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding-top:210px;
}
	/*Eat the World, Meet the World!*/
#ticket p {
	width:1200px;
	font-family:yg-jalnan;
	font-size:36px;
	margin-top:-200px;
}
	/*티켓 이미지*/
#ticket img {
	overflow:hidden;
	margin-top:-30px;
  	margin-left:auto;
  	margin-right:auto;
  	width:738px;
  	height:361.5px;
}
	/*발권하기 버튼*/
#download_button {
	margin:-30px;
	width:176px;
	height:65px;
	outline:none;
	border:none;
	background:url(../assets/icon/download1.png);
	background-size:176px;
	background-repeat:no-repeat;
  	cursor:pointer;
}
#download_button:hover{
	background:url(../assets/icon/download2.png);
	background-size:176px;
	background-repeat:no-repeat;
}
