/*samarkant css*/

/*reset*/
*{padding:0; margin:0;}
img {display:block;}
ul{list-style:none;}
/*font(여기어때 잘난체)*/
@font-face {
    font-family:'yg-jalnan';
    src:local("Jalnan");
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

/*header*/
header {
	width:100%;
	height:120px;
	position:fixed;
	z-index:999;
}
header h1 {padding-top:17px;}
	/*국기 이미지*/
header h1 img {
  width:80px;
  height:53.6px;
  margin:auto;
}
	/*나가기 버튼*/
#exit_button {
	width:32px;
	height:32px;
	position:absolute;
	right:40px;
	top:20px;
	outline:none;
	border:none;
	background:url(../assets/icon/exit1.png);
	background-repeat:no-repeat;
	background-size:32px;
	cursor:pointer;
}

#exit_button:hover {
	background:url(../assets/icon/exit2.png);
	background-size:32px;
	background-repeat:no-repeat;
}

	/*국가명*/
header #country {
	font-family:yg-jalnan;
	font-size:20px;
	letter-spacing:0.6px;
	text-align:center;
	padding-top:4px;
	padding-bottom:25px;
}

/*사이 여백*/
#content0 {
	width:100%;
	height:120px;
}

/*content1 : restaurant name, open time, address*/
#content1 {
	display:flex;
	max-width:100%;
	height:100%;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family: Noto Sans KR;
	font-size:19px;
	font-weight:normal;
	color:#707070;
}
#content1 #title {
	width:1000px;
	text-align:center;
}
    /*레스토랑 이름*/
#content1 h2 {
	display:inline-block;
	font-size:45px;
	font-weight:700;
	margin-top:15px;
	margin-left:100px;
}
	/*티켓 버튼*/
#ticket_button {
	display:inline-block;
	margin-left:5px;
	width:80px;
	height:46px;
	outline:none;
	border:none;
	background:url(../assets/icon/ticket_button1.png);
	background-repeat:no-repeat;
	background-size:80px;
  	cursor: pointer;
}
#ticket_button:hover {
	background:url(../assets/icon/ticket_button2.png);
	background-repeat:no-repeat;
	background-size:80px;
}

	/*영업시간, 주소부분 margin값*/
#content1 p {
	margin-top:9px;
	margin-bottom:10px;
}
#content1 p strong {
	font-weight:500;
}
	/*주소 toggle*/
details > summary {
	margin-top:-5px;
    text-align:center;
    outline: 0;
    cursor: pointer;
}
details > summary strong{
    font-weight:500;
}
details > summary:hover{
    color:#8D8DEB;
    }


details[open] > summary ~ * {
    animation: reveal 0.5s;
}
@keyframes reveal {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
	/*구글 지도 길찾기*/
details > p {
    padding-top:20px;
    font-size:26.25px;
    font-weight:bold;
    text-align:center;
    color:#8D8DEB;
}

#map {
  width:600px;
  height:300px;
  border:0;
  display:block;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom:50px;
}



/*content2 : restaurant description*/
#content2 {
	width:100%;
	height:80px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}
	/*레스토랑 상세 설명*/
#content2 p {
	width:1200px;
	font-family:Noto Sans KR;
	font-weight:300;
	font-size:19px;
  padding-top:10px;
	line-height:1.4;
	color:#979797;
}

/*mainslide*/
#mainslide {
  height:400px;
  position:relative;
  overflow:hidden;
}
.mainslide_list{width:400%;height:100%;transition:1s;}
.mainslide_list:after{content:"";display:block;clear:both;}
.mainslide_item{
  float:left;
  width:25%;
  height:100%;
}
[name="mainslide"] {
  display:none;
}

#mainslide .mainslide_control label{
    display:inline-block;
    vertical-align:middle;
    width:10px;
    height:10px;
    border:2px
    solid #666;
    background:#fff;
    transition:0.3s;
    border-radius:50%;
    cursor:pointer;
  }
.mainslide_control{
    text-align:center;
    position:absolute;
    top:0px;
    left:0;
    width:100%;
    text-align:center;
  }
#mainslide1:checked~ul{margin-left:0%;}
#mainslide2:checked~ul{margin-left:-100%;}
#mainslide1:checked~ .mainslide_control>label:nth-child(1){background:#666;}
#mainslide2:checked~ .mainslide_control>label:nth-child(2){background:#666;}
/*content4 : menu description*/
#content4 {
  margin-top:30px;
	width:100%;
	height:335px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#content4 ul{display:flex;}
	/*메뉴 설명 박스*/
#content4 li  {
	/* padding-top:5px; */
	text-align:center;
	width:240px;
	height:290px;
	border:solid 2px #ececec;
	border-radius:10px;
	margin-left:40px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
#content4 img {width:150px; height:120px; margin-left:19%; margin-top : 10px;  margin-bottom:8px;}
#content4 li:first-child{margin-left:0;}
	/*메뉴 이름*/
#content4 li h3 {
	display:block;
	font-family:Noto Sans KR;
	font-size:20px;
	font-weight:500;
	color:#616161;
}
	/*메뉴 상세설명*/
#content4 li h4 {
	display:block;
	margin-top:2px;
	font-family:Noto Sans KR;
	font-size:18px;
	font-weight:300;
	color:#616161;
}
	/*메뉴 가격*/
#content4 li h5 {
	display:block;
	margin-top:1px;
	font-family:Noto Sans KR;
	font-size:18px;
	font-weight:normal;
	color:#616161;
}

 /*메뉴 태그*/
#content4 li h6 {
	display:block;
	padding-top:5px;
	font-family:Noto Sans KR;
	font-size:18px;
	font-weight:500;
	color:#8d8deb;
}

#content4 li h6 span {
  padding-left:5px;
  padding-right:5px;
  margin-right:5px;
}
#content4 li h6 span:first-child{padding-right:0;}
#content4 li h6 span:last-child{margin-right:0;}


/*슬라이드*/
#content5 {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-top:10px;
  
}
/*현재 사진의 가로 세로 비율에 따라 세로크기가 결정되고 있습니다.*/
/*현재 슬라이드 사진은 가로세로 6:4, 가로 600px입니다. 700px을 넘어가면 상관없는데 700px보다 작으면 슬라이드가 작아집니다.*/
.slidebox {width:600px; height: 350px; margin:30px 0 0 0 ;position:relative;box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.16); }
.slidebox .slidelist {position:relative;white-space:nowrap;font-size:0;overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;background-color:#fff;width:100%;transition:all 1s;}
.slidebox .slidelist .slideitem > a {display:inline-block;width:auto;position:relative;}
.slidebox .slidelist .slideitem > a img {width:600px; height: 350px; object-fit:fill;}

.slidebox .slide-control [class*="control"] label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:25px;border-radius:50%;cursor:pointer;}
.slidebox .slide-control [class*="control"] label.prev {left:-80px;background:#aeaeae url('../assets/icon/left-arrow.png') center center / 100% no-repeat;}
.slidebox .slide-control [class*="control"] label.next {right:-80px;background:#aeaeae url('../assets/icon/right-arrow.png') center center / 100% no-repeat;}
.slide-control {position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-100%;}
#slide03:checked ~ .slidelist .slideitem {left:-200%;}
#slide04:checked ~ .slidelist .slideitem {left:-300%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}

/*content6 : expression*/
#content6 {
  /* padding-top: 20px; */
	width:100%;
	height:90px;
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
}
#content6 h6 {
  padding-top: 20px;
	font-size:20px;
	font-weight:normal;
	color:#707070;
}
#content6 p {
	width:1000px;
	font-family:Noto Sans KR;
	font-weight:normal;
	font-size:25px;
	color:#707070;
}


 /*평점 보기*/
#content7 {
  padding-top:15px;
	width:100%;
	height:270px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#content7 ul{
  display:flex;
}
	/*평점보기 박스*/
#content7 li  {
	/* padding-top:5px; */
	text-align:center;
  background-color:#fcfcfc;
	width:240px;
	height:240px;
	border-radius:10px;
	margin-left:35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
#content7 li:first-child{margin-left:0;}

/*네이버지도/카카오맵/구글맵*/
#content7 li p {
  padding-top:8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #7a7a7a;
}

/*평점보기 내부 박스*/
.rate_box{
  width: 200px;
  height: 180px;
  /* padding: 8px 45px 10px; */
  border-radius:10px;
  margin-left:20px;
  margin-top : 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  flex-direction:row;
  align-items:center;
}

/*지도 검색엔진 아이콘*/
#content7 li .rate_box img {
  display:block;
  width:80px; 
  height:80px; 
  margin-left:29%; 
  margin-top : 8px;  
  padding-top : 8px;
}

/*평점 (숫자)*/
#content7 li .rate_box h3 {
  display:block;
  font-family: Jalnan;
  font-size: 25px;
  font-weight: normal;
  text-align:center;
  color: #616161;
  padding-top:4px;
}
/*n명의 후기*/
#content7 li .rate_box h4 {
  display:block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color:#707070;
}
/*별점*/
#content7 li .rate_box h5 {
  display:block;
  margin-top:-4px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color:#ff9797;
}


/*ticket : hidden, auto scroll*/

	/*Eat the World, Meet the World!*/
#ticket_title {
	width:100%;
  height:157.4px;
  display:flex;
  flex-direction:column;
	justify-content:center;
}

#ticket_title h1 {
  font-family:yg-jalnan;
  display:block;
	font-size:30px;
  text-align:center;
  color:#008439;
  justify-content:center;
  padding-top:85px;
}
/*나만의 여행 티켓 만들기*/
#ticket_title h2 {
  display:block;
  justify-content:center;
  font-family: Noto Sans KR;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #707070;
  
  padding-bottom:6.4px;
  
}
/*ticket diy div*/
#ticket {
  width:100%;
  height:622.6px;
  display:flex;
	justify-content:center;
}

#ticket #box {
  width: 680px;
  height: 700px;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fbfbfb;
  align-items:center;
  display:flex;
  flex-direction:column;
  margin-top: 20px;
  
}
	/*티켓 이미지*/
#ticket img {
  width: 93%;
  padding-top:17.1px;
  /* height: 208.4px; */
	/* overflow:hidden;
  	margin-left:auto;
  	margin-right:auto;
  	width:738px;
  	height:361.5px; */
}

/*입력 영역*/
#ticket #input {
  width : 100%;
  display:flex;
  flex-direction:row;
}

/*날짜 입력 영역*/
#date {
  width : 50%;
  height : 90%;
}
#date h1 {
  padding-top : 15.5px;
  padding-left:15%;
  padding-bottom:5px;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #616161;
}

#select_date {
  width: 70%;  /* 원하는 너비 설정 */ 
  height: auto;  /* 높이값 초기화 */
  line-height : normal;  /* line-height 초기화 */
  margin-left:14%;
  padding: 0.7em 0.3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
}

#others {
  width : 50%;
  height : 90%;
}

#others h1 {
  padding-top : 15.5px;
  padding-left:15%;
  padding-bottom:5px;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #616161;
}

#others input {
  width: 70%;  /* 원하는 너비 설정 */ 
  height: auto;  /* 높이값 초기화 */
  line-height : normal;  /* line-height 초기화 */
  margin-left:14%;
  padding: 0.7em 0.3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
}

#others input:focus, textarea:focus {
  box-shadow: 0 0 5px #0088ff;
  
}

#submit_area {
  width:50%;
  height:13%;
  display:flex;
  justify-content: center;
  padding-top:24px;
}

#submit_button {
	width:50%;
	height:auto;
	outline:none;
	border:none;
	background:url(../assets/icon/download1@2x.png);
	background-repeat:no-repeat;
	background-size:100%;
	cursor:pointer;
}

#submit_button:hover {
	background:url(../assets/icon/download2@2x.png);
	background-size:100%;
	background-repeat:no-repeat;
}