/*seoulmap css*/

/*reset*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../assets/map/seoulmap_background.png");
    background-size: auto;
    /*min-width: 1000px;*/
}

.logo {
    text-align: center;
}

.logo img {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*object-fit: contain;
    display: block;*/
}

.seoulmap {
    position: relative;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    width: 100%;
}

.seoulmap-image {
    padding-left: 8%;
    padding-top: 5%;
    width: 80%;
}

button.button_world {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 9%;
    object-fit: contain;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button.button_world img {
    max-width: 100%;
    height: auto;
}

button.button_seoul {
    position: absolute;
    top: 1%;
    left: 15%;
    width: 9%;
    object-fit: contain;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
}

button.button_seoul img {
    max-width: 100%;
    height: auto;
}

#sidebar {
    background-color: #ffffff;
    position: absolute;
    width: 27%;
    height: 100%;
    top: 0;
    right: 0%;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
}

.sidebar {
    position: relative;
    font-family: Noto Sans KR;
}

.sidebar .top_box {
    position: absolute;
    background-color: #eeeefb;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar button.exit {
    position: absolute;
    top: 2%;
    left: 83%;
    background-color: transparent;
    width: 20%;
    outline: 0;
    border: 0;
    cursor: pointer;
    z-index: 5;
}

button.exit img {
    margin: 0;
    padding: 0;
    max-width: 50%;
    height: auto;
}

.restaurant {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 20%;
    width: 100%;
    height: 80%;
}

.region_name {
    margin-top: 7%;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    color: #8d8deb;
}

.region_description {
    margin-top: 0.5%;
    font-size: 1.5vw;
    font-weight: normal;
    text-align: center;
    color: #7e7e7e;
}

.name {
    text-align: center;
    margin-top: 5%;
}
.name a {
    text-decoration-line: none;
    font-size: 1.7vw;
    font-weight: 500;
    color: rgb(68, 68, 68);
}

.name a:hover {
    color: #8d8deb;
}

.description {
    font-size: 1.1vw;
    font-weight: 300;
    color: #979797;
    text-align: center;
}

.information {
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 6%;
    display: grid;
    grid-template-areas:
        "menu_image address"
        "menu_image time";
    grid-template-columns: 1.1fr 1.9fr;
    border-bottom: 1px #7e7e7e solid;
}

.address {
    font-size: 1.4vw;
    font-weight: 300;
    color: #7e7e7e;
    grid-area: address;
    justify-self: start;
    align-self: center;
}

.time {
    font-size: 1.4vw;
    font-weight: 300;
    color: #7e7e7e;
    grid-area: time;
    justify-self: start;
    align-self: center;
}

.menu_image {
    grid-area: menu_image;
    place-self: center;
    width: 80%;
    object-fit: contain;
}

button.junggu {
    position: absolute;
    top: 44%;
    left: 47%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_yellow {
    max-width: 100%;
    height: auto;
}

button.dongjakgu {
    position: absolute;
    top: 57%;
    left: 41%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_pink {
    max-width: 100%;
    height: auto;
}

button.yongsangu {
    position: absolute;
    top: 51%;
    left: 45%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_purple {
    max-width: 100%;
    height: auto;
}

button.jongnogu {
    position: absolute;
    top: 36%;
    left: 44.2%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_blue {
    max-width: 100%;
    height: auto;
}

button.songpagu {
    position: absolute;
    top: 58%;
    left: 60%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_red {
    max-width: 100%;
    height: auto;
}

button.gangnamgu {
    position: absolute;
    top: 61%;
    left: 53%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_green {
    max-width: 100%;
    height: auto;
}

button.guanakgu {
    position: absolute;
    top: 67%;
    left: 40%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_orange {
    max-width: 100%;
    height: auto;
}

button.gangbukgu {
    position: absolute;
    top: 23%;
    left: 48%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_gray {
    max-width: 100%;
    height: auto;
}
