/*seoulmap css*/

/*reset*/

* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    opacity: 0.6;
    background-color: #efeffc;
}

.logo {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    display: block;
}

.seoulmap {
    position: relative;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    width: 80%;
}

.seoulmap-image {
    width: 100%;
}

button.button_world {
    position: absolute;
    top: 4%;
    left: 2.5%;
    width: 10%;
    object-fit: contain;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button.button_world img {
    max-width: 100%;
    height: auto;
}

button.button_seoul {
    position: absolute;
    top: 4%;
    left: 14%;
    width: 10%;
    object-fit: contain;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
}

button.button_seoul img {
    max-width: 100%;
    height: auto;
}

#sidebar {
    background-color: #ffffff;
    position: absolute;
    width: 30%;
    height: 99.8%;
    top: 0;
    left: 71%;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s;
}

.sidebar {
    position: relative;
    font-family: Noto Sans KR;
}

.sidebar .top_box {
    position: absolute;
    background-color: #eeeefb;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar button.exit {
    position: absolute;
    top: 0.1%;
    left: 83%;
    background-color: transparent;
    width: 20%;
    outline: 0;
    border: 0;
    cursor: pointer;
    z-index: 5;
}

button.exit img {
    margin: 0;
    padding: 0;
    max-width: 50%;
    height: auto;
}

.restaurant {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
}

/*
.region_name {
    margin-top: 35px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #8d8deb;
    line-height: 1.48;
}

.region_description {
    margin-top: 1.5px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #7e7e7e;
    line-height: 1.5;
}

.name {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #7e7e7e;
    text-align: center;
}

.description {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.45;
    color: #979797;
    text-align: center;
}

.address,
.time {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.48;
    color: #7e7e7e;
}

.menu_image {
    display: inline-block;
    margin-left: 35px;
    width: 130px;
    height: 104px;
    object-fit: contain;
}
*/

button.junggu {
    position: absolute;
    top: 44%;
    left: 47%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_yellow {
    max-width: 100%;
    height: auto;
}

button.dongjakgu {
    position: absolute;
    top: 57%;
    left: 41%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_pink {
    max-width: 100%;
    height: auto;
}

button.yongsangu {
    position: absolute;
    top: 51%;
    left: 45%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_purple {
    max-width: 100%;
    height: auto;
}

button.jongnogu {
    position: absolute;
    top: 36%;
    left: 44.2%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_blue {
    max-width: 100%;
    height: auto;
}

button.songpagu {
    position: absolute;
    top: 58%;
    left: 60%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_red {
    max-width: 100%;
    height: auto;
}

button.gangnamgu {
    position: absolute;
    top: 61%;
    left: 53%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_green {
    max-width: 100%;
    height: auto;
}

button.guanakgu {
    position: absolute;
    top: 67%;
    left: 40%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_orange {
    max-width: 100%;
    height: auto;
}

button.gangbukgu {
    position: absolute;
    top: 23%;
    left: 48%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 5%;
    object-fit: contain;
}

.pin_gray {
    max-width: 100%;
    height: auto;
}
