<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
        <title>메인 페이지</title>
    </head>

    <body>
        <div class = "main">
            <img src="/assets/main/logo_main.png" class="logo_main" />
            <h1>Eat the World, <br/>Meet the World!</h1>
            <h2>당신이 알지 못했던 세계음식 맛집 소개 서비스</h2>
            <a href="map_worldmap_path"><button class="go_button"></button></a>
        </div>
    </body>
</html>