$modwid: 70vw;
* {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
}

@font-face {
    font-family: "yg-jalnan";
    src: local("Jalnan");
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@for $i from 1 through 26 {
    #modalsmall#{$i} {
        z-index: 100;
        margin: auto;
        position: fixed;
        left: 15vw;
        margin-top: 10vh;
        background: #fff;
        border: 1px solid #666;
        width: $modwid;
        height: 85vh;
        overflow-y: auto;
        border-radius: 6px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        h2 {
            margin-top: 0;
        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $modwid - 1.2vw;
    height: 11vh;
    position: fixed;
    z-index: 999;
    img {
        margin-right: 1.5vh;
        width: 80px;
        height: 53.6px;
    }
    #country {
        font-family: yg-jalnan;
        font-size: 20px;
        letter-spacing: 0.6px;
        text-align: center;
    }
}


/*국기 이미지*/


/*나가기 버튼*/

@for $i from 1 through 26 {
    #exit_button#{$i} {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 40px;
        top: 20px;
        outline: none;
        border: none;
        background: url(../assets/icon/exit1.png);
        background-repeat: no-repeat;
        background-size: 32px;
        cursor: pointer;
        &:hover {
            background: url(../assets/icon/exit2.png);
            background-size: 32px;
            background-repeat: no-repeat;
        }
    }
}


/*국가명*/


/*사이 여백*/


/*content1 : restaurant name, open time, address*/

#content1 {
    padding-top: 11vh;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: normal;
    color: #707070;
    #title {
        width: $modwid - 2vw;
        text-align: center;
    }
    h2 {
        display: inline-block;
        font-size: 40px;
        font-weight: 700;
        margin-top: 15px;
        margin-left: 100px;
    }
    p {
        text-align: center;
        margin-top: 9px;
        margin-bottom: 10px;
        strong {
            font-weight: 500;
        }
    }
}


/*레스토랑 이름*/


/*티켓 버튼*/

@for $i from 1 through 26 {
    #ticket_button#{$i} {
        display: inline-block;
        margin-left: 5px;
        width: 80px;
        height: 46px;
        outline: none;
        border: none;
        background: url(../assets/icon/ticket_button1.png);
        background-repeat: no-repeat;
        background-size: 80px;
        cursor: pointer;
        &:hover {
            background: url(../assets/icon/ticket_button2.png);
            background-repeat: no-repeat;
            background-size: 80px;
        }
    }
}


/*영업시간, 주소부분 margin값*/


/*주소 toggle*/

#toggle {
    display: none;
}

#toggle:checked+#map {
    display: block;
}

details {
    >summary {
        margin-top: -5px;
        text-align: center;
        outline: 0;
        cursor: pointer;
        strong {
            font-weight: 500;
        }
        &:hover {
            color: #8d8deb;
        }
    }
    &[open]>summary~* {
        animation: reveal 0.5s;
    }
    >p {
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #8d8deb;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/*구글 지도 길찾기*/

#map {
    width: 540px;
    height: 270px;
    border: 0;
    display: block;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
}


/*content2 : restaurant description*/

#content2 {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        width: 100%;
        font-family: Noto Sans KR;
        font-weight: 300;
        font-size: 16px;
        padding-top: 10px;
        line-height: 1.4;
        color: #979797;
    }
}


/*레스토랑 상세 설명*/

#content3 {
    width: inherit;
    height: 213.75px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
    }
    li {
        position: relative;
        margin-left: 100px;
        &:first-child {
            margin-left: 0;
        }
    }
    img {
        width: 225px;
        height: 180px;
    }
}


/*content4 : menu */

#content4 {
    margin-top: 20px;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        display: flex;
    }
    li {
        /* padding-top:5px; */
        text-align: center;
        width: 240px;
        height: 230px;
        border: solid 2px #ececec;
        border-radius: 10px;
        margin-left: 40px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    img {
        width: 120px;
        height: 96px;
        margin-left: 25%;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    li {
        &:first-child {
            margin-left: 0;
        }
        h3 {
            display: block;
            font-family: Noto Sans KR;
            font-size: 17px;
            font-weight: 500;
            color: #616161;
        }
        h4 {
            display: block;
            margin-top: 2px;
            font-family: Noto Sans KR;
            font-size: 14px;
            font-weight: 300;
            color: #616161;
        }
        h5 {
            display: block;
            margin-top: 7px;
            font-family: Noto Sans KR;
            font-size: 15px;
            font-weight: normal;
            color: #616161;
        }
        h6 {
            display: block;
            padding-top: 5px;
            font-family: Noto Sans KR;
            font-size: 15px;
            font-weight: 500;
            color: #8d8deb;
            span {
                padding-left: 5px;
                padding-right: 5px;
                margin-right: 5px;
                &:first-child {
                    padding-right: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}


/*메뉴 설명 박스*/


/*메뉴 이름*/


/*메뉴 상세설명*/


/*메뉴 가격*/


/*메뉴 태그*/


/*슬라이드*/

#content5 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}


/*현재 사진의 가로 세로 비율에 따라 세로크기가 결정되고 있습니다.*/


/*현재 슬라이드 사진은 가로세로 6:4, 가로 600px입니다. 700px을 넘어가면 상관없는데 700px보다 작으면 슬라이드가 작아집니다.*/

.slidebox {
    width: 500px;
    height: 275px;
    margin: 10px 0 0 0;
    position: relative;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.16);
    .slidelist {
        position: relative;
        white-space: nowrap;
        font-size: 0;
        overflow: hidden;
        .slideitem {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            width: 100%;
            transition: all 1s;
            >a {
                display: inline-block;
                width: auto;
                position: relative;
                img {
                    padding-top: -10px;
                    width: 500px;
                    height: 275px;
                    object-fit: fill;
                }
            }
        }
    }
    .slide-control {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
    .slide-control [class*="control"] label {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        padding: 25px;
        border-radius: 50%;
        cursor: pointer;
        &.prev {
            left: -80px;
            background: url("../assets/icon/left_arrow@2x.png") center (center / 80%) no-repeat;
        }
        &.next {
            right: -80px;
            background: url("../assets/icon/right_arrow@2x.png") center (center / 80%) no-repeat;
        }
    }
}

@for $i from 1 through 26 {
    [name="slide#{$i}"] {
        display: none;
    }
}

@import "slide";
.slide-control [class*="control"] {
    display: none;
}


/*content6 : expression*/

#content6 {
    /* padding-top: 20px; */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h6 {
        padding-top: 20px;
        font-size: 17px;
        font-weight: normal;
        color: #707070;
    }
    p {
        width: 100%;
        font-family: Noto Sans KR;
        font-weight: normal;
        font-size: 20px;
        color: #707070;
    }
}


/*평점 보기*/

#content7 {
    padding-top: 15px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        display: flex;
    }
    li {
        /* padding-top:5px; */
        text-align: center;
        background-color: #fcfcfc;
        width: 210px;
        height: 210px;
        border-radius: 10px;
        margin-left: 40px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        &:first-child {
            margin-left: 0;
        }
        p {
            padding-top: 8px;
            font-size: 17px;
            font-weight: 700;
            text-align: center;
            color: #7a7a7a;
        }
    }
}


/*평점보기 박스*/


/*네이버지도/카카오맵/구글맵*/


/*평점보기 내부 박스*/

.rate_box {
    width: 170px;
    height: 150px;
    /* padding: 8px 45px 10px; */
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
}


/*지도 검색엔진 아이콘*/

#content7 li .rate_box {
    img {
        display: block;
        width: 65px;
        height: 65px;
        margin-left: 31%;
        margin-top: 6px;
        padding-top: 6px;
    }
    h3 {
        display: block;
        font-family: yg-Jalnan;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        color: #616161;
    }
    h4 {
        display: block;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #707070;
    }
    span {
        width: 100px;
        height: 30px;
        display: inline-block;
        background: url("../assets/icon/star_bin.png");
        background-size: 100px 30px;
        background-repeat: no-repeat;
        overflow: hidden;
        div{
        img {
            width: 100px;
            height: 30px;
            display: inline;
            margin-left: 0%;
            margin-top: 0px;
            padding-top: 0px;
        }
    }
    }
    :hover {
        
    }
}


/*평점 (숫자)*/


/*n명의 후기*/

// .my-rating-7 {
//     margin-top: 5px;
// }


/*Eat the World, Meet the World!*/

#ticket_title {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-family: yg-jalnan;
        display: block;
        font-size: 23px;
        text-align: center;
        color: #008439;
        justify-content: center;
        padding-top: 60px;
    }
    h2 {
        display: block;
        justify-content: center;
        font-family: Noto Sans KR;
        font-size: 19px;
        font-weight: normal;
        text-align: center;
        color: #707070;
        margin-top: -5px;
        padding-bottom: 0px;
    }
}


/*나만의 여행 티켓 만들기*/


/*ticket diy div*/

#ticket {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    #box {
        width: 620px;
        height: 480px;
        border-radius: 15px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fbfbfb;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    img {
        width: 70%;
        padding-top: 15px;
    }
    #input {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}


/*티켓 이미지*/


/*입력 영역*/


/*날짜 입력 영역*/

#date {
    margin-top: 20px;
    width: 50%;
    height: 90%;
    h1 {
        padding-top: 15.5px;
        padding-left: 15%;
        padding-bottom: 5px;
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        color: #616161;
    }

    input {
        width: 70%;  /* 원하는 너비 설정 */ 
        height: auto;  /* 높이값 초기화 */
        line-height : normal;  /* line-height 초기화 */
        margin-left:14%;
        padding: 0.7em 0.3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
        border: 1px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
        -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
        -moz-appearance: none;
        appearance: none;
    }
    &:focus {
        box-shadow: 0 0 5px #8d8deb;
    }

    img {
        
        width:70%;
        margin-left:16%;
    }
}

#select_date {
    width: 70%;
    /* 원하는 너비 설정 */
    height: auto;
    /* 높이값 초기화 */
    line-height: normal;
    /* line-height 초기화 */
    margin-left: 14%;
    padding: 0.7em 0.3em;
    /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    outline-style: none;
    /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;
    /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

#others {
    margin-top: 10px;
    width: 50%;
    height: 90%;
    h1 {
        padding-top: 15.5px;
        padding-left: 15%;
        padding-bottom: 5px;
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        color: #616161;
        float: left;
    }
    input {
        margin-top: 15px;
        width: 70%;
        /* 원하는 너비 설정 */
        height: 10px;
        /* 높이값 초기화 */
        line-height: normal;
        /* line-height 초기화 */
        margin-left: 14%;
        padding: 0.7em 0.3em;
        /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
        border: 1px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        outline-style: none;
        /* 포커스시 발생하는 효과 제거를 원한다면 */
        -webkit-appearance: none;
        /* 브라우저별 기본 스타일링 제거 */
        -moz-appearance: none;
        appearance: none;
        &:focus {
            box-shadow: 0 0 5px #8d8deb;
        }
    }
}

textarea:focus {
    box-shadow: 0 0 5px #8d8deb;
}

#submit_area {
    width: 50%;
    height: 13%;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

#submit_button {
    width: 50%;
    height: 50px;
    outline: none;
    border: none;
    background: url(../assets/icon/download1@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    &:hover {
        background: url(../assets/icon/download2@2x.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#bottom {
    width: 100%;
    height: 35px;
}

#ticketname {
    visibility: hidden;
}

@for $i from 1 through 26 {
    #modal#{$i} {
        z-index: 99;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 200ms;
        visibility: hidden;
        opacity: 0;
    }
    #modal#{$i} .cancel {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: default;
    }
    #modal#{$i}:target {
        visibility: visible;
        opacity: 1;
    }
}

#exit_button {
    z-index: 10000;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 40px;
    top: 20px;
    outline: none;
    border: none;
    background: url(../assets/icon/exit1.png);
    background-repeat: no-repeat;
    background-size: 32px;
    cursor: pointer;
}

#map_body {
    background-image: url(/assets/map/worldmap_background.png);
    background-size: auto;
}

.logo {
    text-align: center;
    img {
        text-align: center;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}


/*header*/

.world-map {
    position: relative;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    width: 80%;
    min-width: 800px;
    .pin {
        position: absolute;
        border: 0;
        outline: 0;
        cursor: pointer;
        width: 0%;
        height: 0%;
        z-index: 1;
        object-fit: contain;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
        -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
        transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
        -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
        -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
        transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
        .pin-content {
            font-family: "yg-jalnan";
            filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            opacity: 0;
            -webkit-transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            -o-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
            width: 100%;
            height: 100%;
            left: 50%;
            overflow: overlay;
            .country {
                font-size: 150%;
                margin-top: 5%;
            }
        }
        &:active {
            .pin-img {
                filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                opacity: 0;
                -webkit-transition: opacity 0.25s ease-in-out;
                -moz-transition: opacity 0.25s ease-in-out;
                -o-transition: opacity 0.25s ease-in-out;
                transition: opacity 0.25s ease-in-out;
            }
            margin: 0;
            padding: 0;
            background: rgba(255,
            255,
            255,
            0.5);
            filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            opacity: 1;
            width: 300px;
            height: 140px;
            color: #000000;
            z-index: 3;
            -webkit-transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            -o-transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            .pin-content {
                filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                opacity: 1;
                -webkit-transition: opacity 0.25s ease-in-out, height 0 ease-in-out, overflow 0 ease-in-out;
                -webkit-transition-delay: 0.25s, 0.25s, 0.25s;
                transition-delay: 0.25s, 0.25s, 0.25s;
                -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
                -o-transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
                transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
                overflow: hidden;
            }
        }
        &:hover {
            .pin-img {
                filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                opacity: 0;
                -webkit-transition: opacity 0.25s ease-in-out;
                -moz-transition: opacity 0.25s ease-in-out;
                -o-transition: opacity 0.25s ease-in-out;
                transition: opacity 0.25s ease-in-out;
            }
            margin: 0;
            padding: 0;
            background: rgba(255,
            255,
            255,
            0.5);
            filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            opacity: 1;
            width: 240px;
            height: 110px;
            color: #000000;
            z-index: 3;
            -webkit-transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            -o-transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out,
            width 0.25s ease-in-out,
            height 0.25s ease-in-out;
            .pin-content {
                filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                opacity: 1;
                -webkit-transition: opacity 0.25s ease-in-out, height 0 ease-in-out, overflow 0 ease-in-out;
                -webkit-transition-delay: 0.25s, 0.25s, 0.25s;
                transition-delay: 0.25s, 0.25s, 0.25s;
                -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
                -o-transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
                transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
                overflow: hidden;
            }
        }
    }
    .pin-img {
        position: absolute;
        width: 30px;
        bottom: 80%;
        left: 45%;
        right: 50%;
        background-color: transparent;
        cursor: pointer;
        z-index: 2;
        -webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;
    }
    .pin-content {
        .restaurant {
            background: rgba(255, 255, 255, 1);
            width: 160px;
            height: 50px;
            object-fit: contain;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            margin: 5px auto;
            padding: 0;
            padding-left: 10px;
            display: flex;
            .res-img {
                height: 90%;
                margin-top: auto;
                margin-bottom: auto;
                z-index: 4;
                float: left;
            }
            .res-name {
                font-family: Noto Sans KR;
                font-style: bold;
                font-size: 100%;
                word-break: keep-all;
                overflow: hidden;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
                padding-left: 5%;
                padding-right: 5%;
                z-index: 4;
                float: left;
                &:hover {
                    color: blue;
                }
            }
        }
    }
}

.world-map-image {
    width: 100%;
}

.map-footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    /* 지도 보기 글씨 조절 */
    text-align: center;
    font-size: 10pt;
    color: #aeaef9;
    /* 헤더 영역 위아래 여백 */
    margin-bottom: 10pt;
}

.list-button {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

a {
    &:visited {
        color: #000000;
    }
}