.wrapper {
  width: 80%;
  /* padding: 0 10px 0 10px; */
  /* width: auto; */
  display: inline-block;
  /* overflow: hidden; */
}

.dayPicker {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 3px 0 #cccccc;
  border-radius: 10px;
  font-size: 1.2vw;
  color: #505050;
  outline: none;
  padding: 0 10px 0 10px;
  margin: 0 auto;

  :focus {
    border: 1px solid #aaaaaa;
  }
}
