.swiper {
  width: 70%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 4vmin;
  height: 4vmin;
  background-color: #cccccc;
  opacity: 0.5;
  border-radius: 50px;
  color: white;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.5vmin !important;
  font-weight: bold !important;
}
