
#slide011:checked~.slidelist .slideitem {left: 0;}
#slide021:checked~.slidelist .slideitem {left: -100%;}
#slide031:checked~.slidelist .slideitem {left: -200%;}
#slide041:checked~.slidelist .slideitem {left: -300%;}
#slide011:checked~.slide-control .control01,
#slide021:checked~.slide-control .control02,
#slide031:checked~.slide-control .control03,
#slide041:checked~.slide-control .control04 {display: block;}

#slide012:checked~.slidelist .slideitem {left: 0;}
#slide022:checked~.slidelist .slideitem {left: -100%;}
#slide032:checked~.slidelist .slideitem {left: -200%;}
#slide042:checked~.slidelist .slideitem {left: -300%;}
#slide012:checked~.slide-control .control01,
#slide022:checked~.slide-control .control02,
#slide032:checked~.slide-control .control03,
#slide042:checked~.slide-control .control04 {display: block;}

#slide013:checked~.slidelist .slideitem {left: 0;}
#slide023:checked~.slidelist .slideitem {left: -100%;}
#slide033:checked~.slidelist .slideitem {left: -200%;}
#slide043:checked~.slidelist .slideitem {left: -300%;}
#slide013:checked~.slide-control .control01,
#slide023:checked~.slide-control .control02,
#slide033:checked~.slide-control .control03,
#slide043:checked~.slide-control .control04 {display: block;}

#slide014:checked~.slidelist .slideitem {left: 0;}
#slide024:checked~.slidelist .slideitem {left: -100%;}
#slide034:checked~.slidelist .slideitem {left: -200%;}
#slide044:checked~.slidelist .slideitem {left: -300%;}
#slide014:checked~.slide-control .control01,
#slide024:checked~.slide-control .control02,
#slide034:checked~.slide-control .control03,
#slide044:checked~.slide-control .control04 {display: block;}

#slide015:checked~.slidelist .slideitem {left: 0;}
#slide025:checked~.slidelist .slideitem {left: -100%;}
#slide035:checked~.slidelist .slideitem {left: -200%;}
#slide045:checked~.slidelist .slideitem {left: -300%;}
#slide015:checked~.slide-control .control01,
#slide025:checked~.slide-control .control02,
#slide035:checked~.slide-control .control03,
#slide045:checked~.slide-control .control04 {display: block;}

#slide016:checked~.slidelist .slideitem {left: 0;}
#slide026:checked~.slidelist .slideitem {left: -100%;}
#slide036:checked~.slidelist .slideitem {left: -200%;}
#slide046:checked~.slidelist .slideitem {left: -300%;}
#slide016:checked~.slide-control .control01,
#slide026:checked~.slide-control .control02,
#slide036:checked~.slide-control .control03,
#slide046:checked~.slide-control .control04 {display: block;}

#slide017:checked~.slidelist .slideitem {left: 0;}
#slide027:checked~.slidelist .slideitem {left: -100%;}
#slide037:checked~.slidelist .slideitem {left: -200%;}
#slide047:checked~.slidelist .slideitem {left: -300%;}
#slide017:checked~.slide-control .control01,
#slide027:checked~.slide-control .control02,
#slide037:checked~.slide-control .control03,
#slide047:checked~.slide-control .control04 {display: block;}

#slide018:checked~.slidelist .slideitem {left: 0;}
#slide028:checked~.slidelist .slideitem {left: -100%;}
#slide038:checked~.slidelist .slideitem {left: -200%;}
#slide048:checked~.slidelist .slideitem {left: -300%;}
#slide018:checked~.slide-control .control01,
#slide028:checked~.slide-control .control02,
#slide038:checked~.slide-control .control03,
#slide048:checked~.slide-control .control04 {display: block;}

#slide019:checked~.slidelist .slideitem {left: 0;}
#slide029:checked~.slidelist .slideitem {left: -100%;}
#slide039:checked~.slidelist .slideitem {left: -200%;}
#slide049:checked~.slidelist .slideitem {left: -300%;}
#slide019:checked~.slide-control .control01,
#slide029:checked~.slide-control .control02,
#slide039:checked~.slide-control .control03,
#slide049:checked~.slide-control .control04 {display: block;}

#slide0110:checked~.slidelist .slideitem {left: 0;}
#slide0210:checked~.slidelist .slideitem {left: -100%;}
#slide0310:checked~.slidelist .slideitem {left: -200%;}
#slide0410:checked~.slidelist .slideitem {left: -300%;}
#slide0110:checked~.slide-control .control01,
#slide0210:checked~.slide-control .control02,
#slide0310:checked~.slide-control .control03,
#slide0410:checked~.slide-control .control04 {display: block;}

#slide0111:checked~.slidelist .slideitem {left: 0;}
#slide0211:checked~.slidelist .slideitem {left: -100%;}
#slide0311:checked~.slidelist .slideitem {left: -200%;}
#slide0411:checked~.slidelist .slideitem {left: -300%;}
#slide0111:checked~.slide-control .control01,
#slide0211:checked~.slide-control .control02,
#slide0311:checked~.slide-control .control03,
#slide0411:checked~.slide-control .control04 {display: block;}

#slide0112:checked~.slidelist .slideitem {left: 0;}
#slide0212:checked~.slidelist .slideitem {left: -100%;}
#slide0312:checked~.slidelist .slideitem {left: -200%;}
#slide0412:checked~.slidelist .slideitem {left: -300%;}
#slide0112:checked~.slide-control .control01,
#slide0212:checked~.slide-control .control02,
#slide0312:checked~.slide-control .control03,
#slide0412:checked~.slide-control .control04 {display: block;}

#slide0113:checked~.slidelist .slideitem {left: 0;}
#slide0213:checked~.slidelist .slideitem {left: -100%;}
#slide0313:checked~.slidelist .slideitem {left: -200%;}
#slide0413:checked~.slidelist .slideitem {left: -300%;}
#slide0113:checked~.slide-control .control01,
#slide0213:checked~.slide-control .control02,
#slide0313:checked~.slide-control .control03,
#slide0413:checked~.slide-control .control04 {display: block;}

#slide0114:checked~.slidelist .slideitem {left: 0;}
#slide0214:checked~.slidelist .slideitem {left: -100%;}
#slide0314:checked~.slidelist .slideitem {left: -200%;}
#slide0414:checked~.slidelist .slideitem {left: -300%;}
#slide0114:checked~.slide-control .control01,
#slide0214:checked~.slide-control .control02,
#slide0314:checked~.slide-control .control03,
#slide0414:checked~.slide-control .control04 {display: block;}


#slide0115:checked~.slidelist .slideitem {left: 0;}
#slide0215:checked~.slidelist .slideitem {left: -100%;}
#slide0315:checked~.slidelist .slideitem {left: -200%;}
#slide0415:checked~.slidelist .slideitem {left: -300%;}
#slide0115:checked~.slide-control .control01,
#slide0215:checked~.slide-control .control02,
#slide0315:checked~.slide-control .control03,
#slide0415:checked~.slide-control .control04 {display: block;}

#slide0116:checked~.slidelist .slideitem {left: 0;}
#slide0216:checked~.slidelist .slideitem {left: -100%;}
#slide0316:checked~.slidelist .slideitem {left: -200%;}
#slide0416:checked~.slidelist .slideitem {left: -300%;}
#slide0116:checked~.slide-control .control01,
#slide0216:checked~.slide-control .control02,
#slide0316:checked~.slide-control .control03,
#slide0416:checked~.slide-control .control04 {display: block;}

#slide0117:checked~.slidelist .slideitem {left: 0;}
#slide0217:checked~.slidelist .slideitem {left: -100%;}
#slide0317:checked~.slidelist .slideitem {left: -200%;}
#slide0417:checked~.slidelist .slideitem {left: -300%;}
#slide0117:checked~.slide-control .control01,
#slide0217:checked~.slide-control .control02,
#slide0317:checked~.slide-control .control03,
#slide0417:checked~.slide-control .control04 {display: block;}

#slide0118:checked~.slidelist .slideitem {left: 0;}
#slide0218:checked~.slidelist .slideitem {left: -100%;}
#slide0318:checked~.slidelist .slideitem {left: -200%;}
#slide0418:checked~.slidelist .slideitem {left: -300%;}
#slide0118:checked~.slide-control .control01,
#slide0218:checked~.slide-control .control02,
#slide0318:checked~.slide-control .control03,
#slide0418:checked~.slide-control .control04 {display: block;}

#slide0119:checked~.slidelist .slideitem {left: 0;}
#slide0219:checked~.slidelist .slideitem {left: -100%;}
#slide0319:checked~.slidelist .slideitem {left: -200%;}
#slide0419:checked~.slidelist .slideitem {left: -300%;}
#slide0119:checked~.slide-control .control01,
#slide0219:checked~.slide-control .control02,
#slide0319:checked~.slide-control .control03,
#slide0419:checked~.slide-control .control04 {display: block;}

#slide0120:checked~.slidelist .slideitem {left: 0;}
#slide0220:checked~.slidelist .slideitem {left: -100%;}
#slide0320:checked~.slidelist .slideitem {left: -200%;}
#slide0420:checked~.slidelist .slideitem {left: -300%;}
#slide0120:checked~.slide-control .control01,
#slide0220:checked~.slide-control .control02,
#slide0320:checked~.slide-control .control03,
#slide0420:checked~.slide-control .control04 {display: block;}

#slide0121:checked~.slidelist .slideitem {left: 0;}
#slide0221:checked~.slidelist .slideitem {left: -100%;}
#slide0321:checked~.slidelist .slideitem {left: -200%;}
#slide0421:checked~.slidelist .slideitem {left: -300%;}
#slide0121:checked~.slide-control .control01,
#slide0221:checked~.slide-control .control02,
#slide0321:checked~.slide-control .control03,
#slide0421:checked~.slide-control .control04 {display: block;}

#slide0122:checked~.slidelist .slideitem {left: 0;}
#slide0222:checked~.slidelist .slideitem {left: -100%;}
#slide0322:checked~.slidelist .slideitem {left: -200%;}
#slide0422:checked~.slidelist .slideitem {left: -300%;}
#slide0122:checked~.slide-control .control01,
#slide0222:checked~.slide-control .control02,
#slide0322:checked~.slide-control .control03,
#slide0422:checked~.slide-control .control04 {display: block;}

#slide0123:checked~.slidelist .slideitem {left: 0;}
#slide0223:checked~.slidelist .slideitem {left: -100%;}
#slide0323:checked~.slidelist .slideitem {left: -200%;}
#slide0423:checked~.slidelist .slideitem {left: -300%;}
#slide0123:checked~.slide-control .control01,
#slide0223:checked~.slide-control .control02,
#slide0323:checked~.slide-control .control03,
#slide0423:checked~.slide-control .control04 {display: block;}

#slide0124:checked~.slidelist .slideitem {left: 0;}
#slide0224:checked~.slidelist .slideitem {left: -100%;}
#slide0324:checked~.slidelist .slideitem {left: -200%;}
#slide0424:checked~.slidelist .slideitem {left: -300%;}
#slide0124:checked~.slide-control .control01,
#slide0224:checked~.slide-control .control02,
#slide0324:checked~.slide-control .control03,
#slide0424:checked~.slide-control .control04 {display: block;}

#slide0125:checked~.slidelist .slideitem {left: 0;}
#slide0225:checked~.slidelist .slideitem {left: -100%;}
#slide0325:checked~.slidelist .slideitem {left: -200%;}
#slide0425:checked~.slidelist .slideitem {left: -300%;}
#slide0125:checked~.slide-control .control01,
#slide0225:checked~.slide-control .control02,
#slide0325:checked~.slide-control .control03,
#slide0425:checked~.slide-control .control04 {display: block;}
